<template name="issueItem">
  <tr>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>{{dueDate}}</td>
    <td>{{priority}}</td>
    {{#if currentUser}}
    <td>
      <a href="{{pathFor 'editIssue'}}" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </td>
    <td>
      <button class="btn btn-default btn-sm deleteBtn">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
    {{/if}}
  </tr>
</template>
